.about{
  text-align: center;
  position: relative;
    @include breakpoint(toDesktop){
     margin: 60px 20px;
   }

  h1{
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 64px;
    margin: auto;
    padding: 218px 5%;
    z-index:  $levelTop;
      @include breakpoint(toDesktop){
       display: none;
     }
  }

  &__headline{
    position: absolute;
    top: 605px;
    left: -16%;
    text-align: left;
       @include breakpoint(toDesktop){
         position: relative;
         left:auto;
         top:auto;
    }

    h5{
      font-family: 'Playfair Display', serif;
      font-weight: 400;
      font-size: 24px;
      padding-bottom: 32px;
    }
    span{
      font-family: 'Playfair Display', serif;
      font-weight: 700;
      font-size: 44px;
      display: block;
      width: 290px;
        @include breakpoint(toDesktop){
          font-size: 30px;
     }
    }
  }

  &__main{
     margin-top: 300px;
     font-size: 0;
       @include breakpoint(toDesktop){
         margin-top: 0;
}

     &__half{
       display: inline-block;
       width: 50%;
       vertical-align: top;
       font-family: 'Roboto', sans-serif;
       font-weight: 300;
       font-size: 18px;
       text-align: left;
       padding: 0 4%;
       line-height: 30px;
         @include breakpoint(toDesktop){
           display: block;
           width: 100%;
           padding: 0;
           font-size: 16px;
           margin-top: 55px;
        }
     }
  }

.dash{
display: block;
background-color: $colorBlack;
width: 35px;
height: 2px;
margin: 97px auto 0;
z-index: $levelTop;
  @include breakpoint(toDesktop){
    display: none;
   }
  }

.more{
   display: block;
   font-family: 'Roboto', sans-serif;
   font-weight: 400;
   font-size: 18px;
   margin-top: 20px;
   z-index:  $levelTop;
     @include breakpoint(toDesktop){
       font-size: 16px;
       margin: 70px auto 0;
       padding: 11px;
       border: 2px solid black;
       width: 175px;
    }
  }
}
