.footer{
  background-color: #fcfcfc;
  padding: 0 25%;
  @include breakpoint(toDesktop){
    padding: 0 6%;
}

    .social{
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
      font-size: 16px;
      text-transform: uppercase;
      display: block;
      text-align: center;
      padding-top: 120px;
      @include breakpoint(toDesktop){
        padding-top: 65px;
     }
    }

    &__img{
      margin-top: 37px;
      text-align: center;
    }

       img{
         display: inline-block;
         margin: 0 6px;
       }

    &__address{
      margin-top: 115px;
      font-size: 0;
      @include breakpoint(toDesktop){
       margin-top: 65px;
    }

       &__dubai{
         display: inline-block;
         width: 33.33%;
         vertical-align: top;
         font-size: 16px;
         @include breakpoint(toDesktop){
           display: block;
           width: 100%;
       }

           .cities{
             display: block;
             font-family: 'Playfair Display',serif;
             font-weight: 700;
             font-size: 24px;
             padding-bottom: 23px;
             @include breakpoint(toDesktop){
               padding-bottom: 16px;
             }
           }

           p{
             font-family: 'Roboto',sans-serif;
             font-weight: 400;
             line-height: normal;
           }
       }

       &__beirut{
         display: inline-block;
         width: 33.33%;
         vertical-align: top;
         font-size: 16px;
         padding-left: 5.6%;
         @include breakpoint(toDesktop){
           display: block;
           width: 100%;
           padding: 45px 0;
       }

         .cities{
           display: block;
           font-family: 'Playfair Display',serif;
           font-weight: 700;
           font-size: 24px;
           padding-bottom: 23px;
         }

         p{
           font-family: 'Roboto',sans-serif;
           font-weight: 400;
           line-height: normal;
         }
       }

       &__belgrade{
         display: inline-block;
         width: 33.33%;
         vertical-align: top;
         font-size: 16px;
         padding-left: 15%;
         @include breakpoint(toDesktop){
           display: block;
           width: 100%;
           padding: 0;
       }

         .cities{
           display: block;
           font-family: 'Playfair Display',serif;
           font-weight: 700;
           font-size: 24px;
           margin-bottom: 23px;
         }

         p{
           font-family: 'Roboto',sans-serif;
           font-weight: 400;
           line-height: normal;
         }
       }
    }

  .webedia{
      margin-top: 75px;
      @include breakpoint(toDesktop){
        margin-top: 60px;
      }
    }

  .copyrights{
    margin-top: 70px;
    padding-bottom: 48px;
    font-family: 'Roboto',sans-serif;
    font-weight: 400;
    font-size: 16px;
    @include breakpoint(toDesktop){
      margin-top: 55px;
      padding-bottom: 15px;
    }

    .rights{
      @include breakpoint(toDesktop){
        display: none;
      }
    }

    .mob-rights{
      display: none;
      @include breakpoint(toDesktop){
        display: block;
        text-align: center;
      }
    }

    &__top{
      float: right;
      @include breakpoint(toDesktop){
        display: none;
      }

      .top{
        margin-right: 15px;
      }
    }
  }
}
